// @import "animate.scss";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');




$font-stack: 'Raleway', sans-serif;
$primary-font-color: #535353;


body {
  display: grid;
  color: $primary-font-color;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}


.break {
  display: none;
}

.toggle-phone-view {
  display: none;
}

.bio-sub-btn,
.vid-sub-btn,
.dev-sub-btn,
.comms-btn {
  cursor: pointer;
}

.body-trans {
  width: 555px;
  -webkit-transition: width 1.5s;
  -moz-transition: width 1.5s;
  -o-transition: width 1.5s;
  -ms-transition: width 1.5s;
  transition: width 1.5s;
  transition-timing-function: ease;
}
.menu-trans {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: width 1.5s;
  -moz-transition: width 1.5s;
  -o-transition: width 1.5s;
  -ms-transition: width 1.5s;
  transition: width 1.5s;
  transition-timing-function: ease;
}

.body-active {
  width: 99vw;
}

h1 {
  display: flex;
  font: 100% $font-stack;
  // text-align: center;
  // justify-content: center;
  font-size: 90px;
  font-weight: thin;
  .fade {
    animation-name: example;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  margin-bottom: 20px;
}

h2 {
  font: 20px 'Raleway-Medium', sans-serif;
}

.development:hover {
  .box {
    border-right: 3px solid skyblue;
  }
}

.graphic:hover {
  .box-prod {
    border-right: 3px solid violet;
  }
}

.video:hover {
  .box-vid {
    border-right: 3px solid tomato;
  }
}

.bio:hover {
  .box-bio {
    border-right: 3px solid khaki;
  }
}

.production {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  display: grid;
  background-color: #218D9B;
  height: 34px;
  width: 8px;
  z-index: -4;
  float:left;
  grid-template-columns: 200px auto 275px 250px;
}

.box-prod {
  display: grid;
  background-color: purple;
  height: 34px;
  width: 8px;
  z-index: -3;
  grid-template-columns: 200px auto 400px;
}

.box-vid {
  display: grid;
  background-color: firebrick;
  height: 34px;
  width: 8px;
  z-index: -2;
  float:left;
}

.box-bio {
  display: flex;
  background-color: #CCCC00;
  height: 34px;
  width: 8px;
  z-index: 10;
  float:left;
  color: white;
}

.bio {
  z-index: 10;
}

.graphics-content {
  display: none;
}

.graphics-content-img {
  display: none;
}



.graphics-column-two {
  grid-column: 2 / 2;
  min-width: 0;
  padding-right: 20px;
  h1,
  h4,
  .graphics-links-container {
    max-width: 700px;
  }
  h4 {
    min-width: 348px;
  }
}

.graphics-column-three {
  display: grid;
  grid-column: 3 / 3;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 0;
  padding-right: 20px;
  max-height: 400px;
  min-width: 0;
}

// .position1,
.position2,
.position3,
.position4,
.position5,
.position6,
.position7,
.position8,
.position9 {
  width: 120px;
  height: 120px;
}

.position9 {
  margin-bottom: 8px;
}

.position1 {
  grid-column: 1 / 4;
  max-width: 380px;
}

.position2 {
  grid-column: 2 / 2;
}

.position3 {
  grid-column: 3 / 3;
}

.position10 {
  grid-column: 1 / 4;
  width: 380px;
}


.biog,
.dev,
.vid,
.prod {
  position: absolute;
  align-self: center;
  margin-top: 5px;
  margin-left: 18px;
  transition: color 1.5s ease;
}

.development,
.graphic,
.video {
  margin-bottom: 1px;
}

.video {
  z-index: 1;
}

.bio-active,
.vid-active,
.prod-active,
.dev-active {
  // position: absolute;
  color: white;
  align-self: flex-start;
}



.bio-active:hover,
.vid-active:hover,
.prod-active:hover,
.dev-active:hover {
  text-shadow: 0 0 1px white;
}

.menubtn {
  z-index: 1;
  cursor: pointer;
}

.transform-bio,
.transform-vid,
.transform-prod,
.transform {
  -webkit-transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  -moz-transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  -o-transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  -ms-transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  transition-timing-function: ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 600px;
  width: 98vw;
  border-bottom: 2px solid white;
}

.transform-active-prod {
  background-color: violet;
  height: 565px;
  width: 98vw;
  border-bottom: 2px solid white;
}

.transform-active-vid {
  background-color: tomato;
  height: 125vw;
  width: 98vw;
  border-bottom: 2px solid white;
}

.transform-active-bio {
  background-color: gold;
  height: 280px;
  width: 98vw;
}

ul {
  font-family: 'Raleway-bold';
  color: white;
  h4 {
    margin-bottom: .2em;
    margin-top: .8em;
  }
  li {
    font-family: 'Raleway';
    color: white;
    display: block;
    margin-left: 1em;
  }
}

.box-item {
  font-family: 'Raleway';
  color: white;
  padding-top: 0;
  margin-top: 20px;
}

.development {
  z-index: 0;
}
.graphic {
  z-index: 1;
}

.vid-grid {
  display: grid;
  grid-template-columns: 200px 4fr;
}


.vid-grid-two {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.vid-content {
  display: none;
  z-index: 0;
  h2 {
    margin-top: 5px;;
  }
}

.proficiencies-lag1,
.proficiencies-lag2,
.proficiencies {
  display: none;
  z-index: 0;
  grid-column: 4 / 4;
  h2 {
    margin-top: 5px;;
  }
}


.proficiencies2 {
  grid-column: 3 / 3;
}


.prof-box {
  width: auto;
  height: 15px;
  background-color: aquamarine;
  margin-top: -8px;
}

.prof-box2 {
  background-color: lightgreen;
}

.prof-box3 {
  background-color: white;
}

.prof-box4 {
  background-color: purple;
  grid-column: 1 / 4;
}
.thumbnail1 {
  width: 200px;
  border: 5px solid darkblue;
}

a {
  color: white;
  opacity: .5;
}


a:hover {
  opacity: .8;
}

.prof-specific {
  li {
    opacity: .8;
  }
}

.grey {
  color: lightblue;
}

.dev-background {
  grid-column: 2 / 2;
  h1 {
    margin-top: 0;
    // font-family: arial;
    font-weight: 800;
    line-height: 1.1;
    font-size: 60px;
    margin-top: 20px;
  }
  h2 {
    margin-left: 30px;
    max-width: 520px;
    min-width: 300px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid white;
  }
  h3 {
    margin-top: 0;
    margin-left: 60px;
    max-width: 530px;
    font-weight: 500;
    opacity: .9;
  }
  h4 {
    margin-top: 0;
    font-size: 16px;
    margin-left: 60px;
    max-width: 630px;
    font-weight: 400;
  }
}

.dev-menu {
  grid-column: 1 / 1;
  ul {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 20px;;
    li{
      font-size: 16px;
      font-family: 'Quicksand';
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 8px;;
      padding: 0;
      opacity: .5;
    }
    li:hover {
      opacity: .8;
    }
  }
}

.purple {
  color: violet;
}

.tomato {
  color: tomato;
}

.footer-tag {
  font-family: 'Century Gothic';
  // margin: 0;
  align-self: center;
  font-size: 15px;
  color: grey;
  margin-top: 50vh;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: flex;
  flex-direction: column;
  h1 {
    margin-top: 0;
    font-family: 'Raleway';
    font-weight: 800;
    margin-bottom: 0;
  }
  p {
    font-family: 'Century Gothic';
    margin: 0;
    // align-self: center;
    font-size: 15px;
    color: lightgrey;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
}

.contact-info {
  display: none;
  align-self: flex-end;
  margin: 0;
  opacity: .5;
  // color: lightgrey;
  padding-left: 10px;
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Century Gothic';
  // transition: color 1.5s ease;
  transition: color 1.5s ease;
}

.contact-info-blue {
  transition: color 1.5s ease;
  color: #45CEE0;
}

.contact-info-purple {
  transition: color 1.5s ease;
  color: violet;
}

.contact-info-red {
  transition: color 1.5s ease;
  color: tomato;
}

.contact-info-yellow {
  transition: color 1.5s ease;
  color: gold;
}


.graphics-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  div {
    // margin: 5px;
    border: 3px solid white;
    p {
      font-weight: bold;
      font-size: 24px;
      margin: 8px;
    }
  }
}

.design-bio-left {
  margin-right: 10px;
}

.design-bio-right:hover,
.design-bio-left:hover {
  border: 3px solid rgba(154, 18, 179, 1);
  color: rgba(154, 18, 179, 1);
}

.sub-headers {
  font-weight: bold;
}

.sub-headers-projects {
  color: lightgreen;
}

.sub-headers-proficiencies {
  color: aquamarine;
}

iframe {
  margin-bottom: 25px;
  border: 3px solid white;
  border-radius: 5px;
}

.far-right-vids {
  padding-left: 40px;
  padding-right: 20px;
  h2 {
    margin-left: 0;
  }
  .clients {
    font-weight: 300;
    opacity: .5;
  }
}

.vid-content-lag1,
.vid-content-lag2 {
  display: none;
}

.vids-small {
  width:30vw;
  height: 16.8vw
}

.vids-large {
  width:45vw;
  height: 25.2vw
}

#prof-bottom {
  max-width: 45vw;
}

.prof-box-vids {
  background-color: darkred;
  margin-bottom: 20px;
  height: 16px;
}

.vid-buttons {
  display: flex;
  flex-direction: row;
  max-width: 45.3vw;
  a {
    opacity: 1;
    text-decoration: none;
  }
}

.graphics-links-container {
  a {
    opacity: 1;
    text-decoration: none;
  }
}

.design-vid-left,
.design-vid-right {
  cursor: pointer;
  border: 3px solid white;
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -5px;
  margin-bottom: 25px;
}

.design-vid-left {
  margin-right: 15px;
}

.design-vid-right {
  margin-left: 15px;
}


.design-vid-right:hover,
.design-vid-left:hover {
  border: 3px solid orange;
  color: orange;
}

.vid-story {
  h2 {
    margin-left: 0;
    border-bottom: 0;
  }
}

.bio-bottom-content,
.bio-images,
.bio-text {
  // margin-top: 30px;
  display: none;
  h2 {
    font-family: 'Raleway';
    font-size: 40px;
    margin-top: 0;
    font-weight: bold;
    line-height: 40px;
    color: grey;
    strong {
      color: teal;
    }
  }
  h3 {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 18px;
    // margin-left: 200px;
    color: grey;
    margin-top: 15px;
  }
  .headshot {
    width: 200px;
    height: 200px;
    border: solid 10px white;
    border-radius: 5px;
  }
}

.bio-content {
  padding: 35px;
}

.bio-text {
  max-width: 800px;
}

.bio-bottom-content,
.bio-top-content {
  display: flex;
  flex-direction: row;
}

.bio-images{
  margin-right: 20px;
}



/// media queries

@media screen and (max-width:1346px) {
  .dev-background {
    h1 {
      font-size: 55px;
    }
    h2 {
      margin-left: 30px;
      max-width: 520px;
      min-width: 300px;
      font-weight: 700;
      margin-bottom: 5px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 3px solid white;
    }
    h3 {
      margin-top: 0;
      margin-left: 60px;
      max-width: 530px;
      font-weight: 500;
      opacity: .9;
    }
    h4 {
      margin-top: 0;
      font-size: 16px;
      margin-left: 60px;
      max-width: 630px;
      font-weight: 400;
    }
  }


  .far-right-vids {
    padding-left: 40px;
    padding-right: 20px;
    h2 {
      margin-left: 0;
    }
    .clients {
      font-weight: 300;
      opacity: .5;
    }
  }

  .vid-story {
    h2 {
      margin-left: 0;
      border-bottom: 0;
    }
  }

}



//
@media screen and (max-width: 1295px) {
  .dev-background {
    h1 {
      font-size: 50px;
    }
  }
}
@media screen and (max-width: 1244px) {
  .dev-background {
    // line-height: 1.5em;
    h1 {
      font-size: 45px;
    }
    h2 {
      margin-left: 0;
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 15px;
    }
    h3 {
      margin-left: 0;
      font-size: 16px;
      opacity: 1;
    }
  }
}
@media screen and (max-width: 1042px) {
  .vid-grid-two {
    display: grid;
    grid-column: 1 / 2;
    margin-left: 50px;
  }

  .prof-box-vidslarge {
    margin-left: 100px;
  }

  iframe {
    margin-bottom: 25px;
    border: 3px solid white;
    border-radius: 5px;
  }

  .vids-small {
    width:38vw;
    height: 21vw
  }

  .vids-large {
    width:45vw;
    height: 25.2vw
  }

  .dev-menu {
    display: none;
    ul {
      display: none;
    }
  }
  .box-prod {
    display: grid;
    grid-template-columns: 1fr 390px;
    grid-gap: 10px;

    .graphics-column-two {
      position: relative;
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      padding-left: 50px;
      padding-right: 10px;
      // line-height: 1.5em;
      h1 {
        font-size: 40px;

      }
      h4 {
        margin-left: 0;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: 150px;
    }
    .graphics-column-three {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
      width: 160px;
    }
  }
  .box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    .dev-background {
      position: absolute;
      width: 45vw;
      grid-column: 1 / 3;
      padding-left: 50px;
      // line-height: 1.5em;
      h1 {
        font-size: 40px;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: 150px;
    }
    .prof-box-devlast {
      width: 160px;
    }
  }
  .readme {
    display: none;
  }
  a {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }

  .transform-active-vid {
    background-color: tomato;
    height: 160vw;
    width: 98vw;
    border-bottom: 2px solid white;
  }
}

@media screen and (max-width: 835px) {

.bio-text {
  h2 {
    font-size: 30px;
    line-height: normal;
  }
}

}

@media screen and (max-width: 800px) {
  .box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2.5fr;
    grid-template-rows: 355px auto;
    .proficiencies2 {
      // display: flex;
      // flex-direction: row;
      margin-left: 10px;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      h2 {
        margin-bottom: 0;
      }
    }
    .prof-specific {
      grid-row: 1 / 3;
    }
    .project-list-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5px;
      li {
        margin-left: 0;
      }
    }
    .dev-background {
      position: absolute;
      width: 65vw;
      grid-column: 1 / 4;
      padding-left: 50px;
      // line-height: 1.5em;
      h1 {
        font-size: 40px;
      }
      h2 {
        margin-left: 0;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 15px;
      }
      h3 {
        margin-left: 0;
        font-size: 16px;
        opacity: 1;
      }
    }
    .dev-menu {
      display: none;
      ul {
        display: none;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: 150px;
    }
    .prof-box-devlast {
      // width: 150px;
      background-color: lightgreen;
    }


    .prof-box2 {
      background-color: aquamarine;
    }
  }
  .readme {
    display: none;
  }
  a {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  .sub-headers {
    font-weight: bold;
    // font-size: 25px;
    padding-top: 10px;
  }

  .sub-headers-projects {
    color: aquamarine;
  }

  .sub-headers-proficiencies {
    color: lightgreen;
  }

  .transform-active {
    height: 650px;
  }

  .vid-hide {
    display: none;
  }

}

@media screen and (max-width: 715px) {

  .contact-info {
    font-size: 13px;
  }

  .bio-text {
    h2 {
      font-size: 25px;
      line-height: normal;
    }
  }

  .box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2.5fr;
    grid-template-rows: 370px 250px auto;
    .proficiencies2 {
      // display: flex;
      // flex-direction: row;
      margin-left: 10px;
      grid-column: 1 / 5;
      grid-row: 2 / 3;
      h2 {
        margin-bottom: 0;
      }
    }
    .prof-specific {
      margin-left: 10px;
      grid-column: 1 / 5;
      grid-row: 3 / 4;
    }
    .project-list-items {
      display: grid;
      max-width: 80vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5px;
      li {
        margin-left: 0;
      }
    }
    .proficiencies-list-items {
      display: grid;
      max-width: 80vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 5px;
      li {
        display: list-item;
        // margin-bottom: 10px;
        // margin-left: 0;
        font-size: 15px;
      }
    }
    .dev-background {
      position: absolute;
      width: 83vw;
      grid-column: 1 / 5;
      padding-left: 50px;
      // line-height: 1.5em;
      h1 {
        font-size: 40px;
      }
      h2 {
        margin-left: 0;
        max-width: 79vw;
        padding-right: 0;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 15px;
        width: auto;
        margin-right: 33px;
      }
      h3 {
        margin-left: 0;
        max-width: 75vw;
        font-size: 16px;
        opacity: 1;
      }
    }
    .dev-menu {
      display: none;
      ul {
        display: none;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: 150px;
    }

    .prof-box-devlast,
    .prof-box2 {
      width: 79vw;
      margin-right: 50px;
    }

    .sub-headers-proficiencies{
      margin-bottom: 0;
      color: lightgreen;
    }
    .prof-box-devlast {
      background-color: lightgreen;
    }

    .sub-headers-projects{
      color: aquamarine;
    }
    .prof-box2 {
      background-color: aquamarine;
    }

  }

  .box-prod {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px 1fr;
    grid-gap: 10px;
    .graphics-column-two {
      position: relative;
      grid-column: 1 / 3;
      grid-row: 1 / 1;
      padding-left: 50px;
      padding-right: 10px;
      // line-height: 1.5em;
      h1 {
        font-size: 40px;

      }
      h4 {

        margin-left: 0;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: 150px;
    }

    .prof-box4 {
      display: relative;
      width: 83vw;
    }

    .graphics-column-three {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 160px;
      margin-left: 50px;
    }
    .position1 {
      grid-row: 2 / 3;
      width: 54.2vw;
      // max-width: 333px;
      // max-height: 120px;

      padding-left: 23px;
      background-color: black;
      padding-right: 23px;
    }
    .position10 {
      grid-row: 3 / 4;
      padding-top: 12px;
      padding-bottom: 12px;
      background-color: black;
      border-top: 8px solid grey;
      border-bottom: 8px solid grey;
      width: 62vw;
      // max-width: 380px;
    }

    .position5,
    .position7,
    .position9,
    .position8,
    .position4,
    .position6 {
      // max-width: 120px;
      // max-height: 120px;
      width: 19.5vw;
      height: 19.5vw;
    }

    .position5,
    .position7,
    .position9,
    .position8,
    .position4 {
      grid-row: 4 / 5;
    }
    .position6 {
      grid-column: 4 /5;
      grid-row: 2 / 3;
    }
    .position9 {
      grid-column: 4 /5;
      grid-row: 3 / 4;
    }
  }

  .transform-active-prod {
    width: 94vw;
    height: 850px;
  }


  .readme {
    display: none;
  }
  a {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  .sub-headers {
    font-weight: bold;
    // font-size: 25px;
    padding-top: 10px;
  }

  .transform-active {
    width: 94vw;
    height: 900px;
  }

  .vid-grid-two {
    grid-template-columns: 1fr;
    grid-row: 1fr;
    .vid-story {
      grid-row: 1 / 2;
    }
    .far-right-vids {
      grid-row: 2 / 3;
    }
  }

  .vids-small {
    width:40vw;
    height: 23.8vw
  }

  .vids-large {
    width:85vw;
    height: 47.6vw
  }

  .transform-active-vid {
    height: 325vw;
  }

  .far-right-vids {
    padding: 0;
  }

  .vid-buttons {
    max-width: none;
  }

  .design-vid-left,
  .design-bio-right {
    width: 40vw;
  }







}

@media screen and (max-width: 682px) {
  .logo {
    h1 {
      font-size: 80px;
    }
  }
  .break {
    display: block;
    height: 0;
  }
}

@media screen and (max-width: 576px) {
  * {
    min-width: 0;
  }

  .body-trans {
    width: 100%;
  }

  .contact-info-red,
  .contact-info-blue,
  .contact-info-yellow,
  .contact-info-purple,
  .contact-info {
    display: none !important;
  }

  html {
    max-width: 100vw;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    // color: white;
  }
  .logo {
    h1 {
      font-size: 40px;
    }
  }

  .box,
  .box-prod {
    .prof-box3 {
      // display: none;
      margin-top: -20px;
      width: 100vw;
      height: 33px;
      opacity: .3;
    }
  }

  .box-prod {
    .prof-box3 {
      margin-left: -15px;
    }
    .graphics-column-two {
      // position: absolute;
      // padding-right: 5px;
      width: 95vw;
      min-width: 0;
      padding-left: 15px;
      // line-height: 1.5em;
      h1 {
        font-size: 20px;
        min-width: 0;
        max-width: 85vw;
      }
      h4 {
        margin-left: 0;
        max-width: 90vw;
        min-width: 0;
        padding-right: 0;
        font-weight: 200;
        font-size: 15px;
        padding-bottom: 15px;
        width: auto;
        margin-right: 18px;
      }
      .graphics-links-container {
        flex-direction: column;
        align-items: center;

        .design-bio-left,
        .design-bio-right {
          max-width: 60vw;
          margin: 0;
          margin-bottom: 10px;
          p {
            font-size: 15px;
          }
        }
      }
    }
  }


  .box {
    .prof-box3 {
      margin-left: -15px;
    }
    display: grid;
    max-width: 100vw;
    min-width: 0;
    grid-template-columns: 100vw;
    grid-template-rows: 410px 340px 370px;
    .proficiencies2 {
      // display: flex;
      // flex-direction: row;
      margin-left: 0;
      padding-left: 15px;
      grid-column: 1 / 5;
      grid-row: 3 / 4;
      h2 {
        margin-bottom: 0;
      }
    }
    .prof-specific {
      padding-left: 0;
      margin-left: 15px;
      grid-column: 1 / 5;
      grid-row: 2 / 3;
    }
    .project-list-items {
      display: grid;
      max-width: 80vw;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5px;
      li {
        margin-left: 0;
      }
    }
    .proficiencies-list-items {
      display: grid;
      max-width: 80vw;
      grid-template-columns:1fr 1fr;
      grid-column-gap: 5px;
      li {
        display: block;
        margin-left: 0;
        // margin-bottom: 10px;
        // margin-left: 0;
        font-size: 15px;
      }
    }


    .dev-background {
      position: absolute;
      // padding-right: 5px;
      width: 95vw;
      min-width: 0;
      grid-column: 1 / 5;
      padding-left: 15px;
      // line-height: 1.5em;
      h1 {
        font-size: 20px;
        min-width: 0;
        max-width: 85vw;
      }
      h2 {
        margin-left: 0;
        max-width: 90vw;
        min-width: 0;
        padding-right: 0;
        font-weight: 200;
        font-size: 15px;
        padding-bottom: 15px;
        width: auto;
        margin-right: 18px;
      }
      h3 {
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
        max-width: 85vw;
        // width: 95vw;
        min-width: 0;
        font-size: 15px;
        opacity: .8;
      }
    }
    .dev-menu {
      display: none;
      ul {
        display: none;
      }
    }


    .prof-box-devlast,
    .prof-box2 {
      width: auto;
      margin-right: 30px;
    }

    .sub-headers-proficiencies{
      margin-bottom: 0;
      color: lightgreen;
    }
    .prof-box-devlast {
      background-color: lightgreen;
    }

    .sub-headers-projects{
      color: aquamarine;
    }
    .prof-box2 {
      background-color: aquamarine;
    }
  }

  .readme {
    display: none;
  }
  a {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  a {
    font-size: 13px;
  }
  .sub-headers {
    font-weight: bold;
    // font-size: 25px;
    padding-top: 10px;
  }


  .transform-active {
    width: 100vw;
    height: 1100px;
  }

  .biog,
  .dev,
  .vid,
  .prod {
    position: absolute;
    align-self: center;
    margin-top: 5px;
    margin-left: 18px;
    transition: color 0s ease;
  }

  .transform-bio,
  .transform-vid,
  .transform-prod,
  .transform {
    -webkit-transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    -moz-transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    -o-transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    -ms-transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    transition: height 0s, width 0s, background-color 0s, border-bottom 0s;

    transition-timing-function: ease;
  }

  .menubtn {
    color: white;
  }

  .dev {
    left: 50%;
    margin-left: -78.39px;
  }


  .prod {
    left: 50%;
    margin-left: -73.36px;
  }

  .biog {
    left: 50%;
    margin-left: -41.69px;
  }

  .vid {
    left: 50%;
    margin-left: -46.73px;
  }

  .development {
    background-color: lightblue;
  }

  .graphic {
    background-color: violet;
  }

  .video {
    background-color: tomato;
  }

  .bio {
    background-color: gold;
  }

  .toggle-phone-view {
    display: block;
  }

  .logo {
    align-items: center;
  }

  .vid-grid-two {
    grid-column: 1 / 3;
  }

  .prof-box-vidslarge {
    margin-left: -10px;
    margin-top: -20px;
    width: 100vw;
    height: 33px;
    opacity: .3;
  }

  .transform-active-vid {
    height: 370vw;
  }

  .vid-grid-two {
    margin-left: 20px;
  }

  .vid-story,
  .far-right-vids {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .small-vid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .small-vid-title {
    width: 95vw;
    margin-bottom: 20px;
  }

  .prof-box-vids {
    grid-column: 1 / 3;
  }


  .vid-story {
    align-items: flex-start;
    h1 {
      font-size: 20px;
    }
    .vid-buttons {
      flex-direction: column;
      .design-vid-left,
      .design-vid-right {
        width: 87vw;
        margin-left: 0;
      }
    }
  }

  .vids-large {
    width: 90vw;
  }

  .transform-active-vid {
    height: 415vw;
  }

  .prof-box-vidslarge {
    margin-left: -20px;
  }

  .bio-content {
    padding-top: 45px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bio-top-content {
    flex-direction: column;
    align-items: center;
  }

  .bio-images {
    min-width: 220px;
  }

  .bio-text {
    margin-left: 10px;
    margin-top: 15px;
    h2 {
      font-size: 23px;
      line-height: normal;
    }
  }

  .transform-active-bio {
    height: 450px;
  }



}
@media screen and (max-width: 500px) {

  .box-prod {
    .graphics-column-three {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      width: 92vw;
      margin-left: 15px;
    }
    .position1 {
      grid-row: 2 / 3;
      width: 92vw;
      max-width: none;


      padding-left: 0;

      padding-right: 0;
    }
    .position10 {
      grid-row: 3 / 4;
      padding-top: 0;
      padding-bottom: 0;
      border-top: 0;
      border-bottom: 0;
      width: 92vw;
      // max-width: 380px;
    }

    .position5,
    .position7,
    .position9,
    .position8,
    .position4,
    .position6 {
      // max-width: 120px;
      // max-height: 120px;
      width: 45vw;
      height: 45vw;
    }

    .position5 {
      grid-column: 2 / 3;
      grid-row: 5 / 6;
    }
    .position7 {
      grid-column: 2 / 3;
    }
    .position8 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
    }
    .position6 {
      grid-column: 1 /3;
      grid-row: 5 / 6;
    }
    .position9 {
      grid-column: 2 / 3;
      grid-row: 7 / 8;
    }

    .position4 {
      grid-column: 1 / 2;
      grid-row: 7 / 8;
    }

    .prof-box4 {
      width: 92vw;
      max-width: none;
    }

    .prof-box5 {
      grid-row: 8 / 9;
    }
  }

  .transform-active-prod {
    height: 300vw;
    border-bottom: 2px solid violet;
  }

  .transform-active-vid {
    height: 430vw;
  }
}

@media screen and (max-width: 430px) {
  .transform-active-prod {
    height: 310vw;
  }

  .box-prod {
    display: grid;
    grid-template-rows: 350px auto;
  }

}

// Iphone 6/7/8
@media screen and (max-width: 375px) {
  .transform-active-prod {
    height: 325vw;
  }

  .box-prod {
    display: grid;
    grid-template-rows: 375px auto;
  }

}

// Galaxy S5
@media screen and (max-width: 361px) {
  .transform-active-prod {
    height: 330vw;
  }
  .box-prod {
    display: grid;
    grid-template-rows: 380px auto;

    .position5,
    .position7,
    .position9,
    .position8,
    .position4,
    .position6 {
      // max-width: 120px;
      // max-height: 120px;
      width: 44vw;
      height: 44vw;
    }
  }

  .transform-active-vid {
    padding-left: 0;
    height: 480vw;
  }

}


//iphone 5
@media screen and (max-width: 350px) {
  .transform-active-prod {
    height: 365vw;
  }
  .box-prod {
    display: grid;
    grid-template-rows: 425px auto;

    .position5,
    .position7,
    .position9,
    .position8,
    .position4,
    .position6 {
      // max-width: 120px;
      // max-height: 120px;
      width: 44vw;
      height: 44vw;
    }
  }

  .bio-text {
    margin-left: 10px;
    margin-top: 15px;
    h2 {
      font-size: 21px;
      line-height: normal;
    }
  }

}
