@import "animate.scss";
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');


// * {
//   border: 1px solid red;
// }

$font-stack: 'Raleway', sans-serif;
$primary-font-color: #535353;

// * {
//   border: 1px solid forestgreen;
// }

body {
  display: grid;
  color: $primary-font-color;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;

  // padding-left: 10px;
  // background-color: grey;
  // margin: 0 auto;
  // max-width: 1024px;
  // border-left: solid 7px #535353;
  // border-right: solid 7px #535353;
}

.toggle-phone-view {
  display: none;
}

.body-trans {
  width: 555px;
  -webkit-transition: width 1.5s;
  -moz-transition: width 1.5s;
  -o-transition: width 1.5s;
  -ms-transition: width 1.5s;
  transition: width 1.5s;
  transition-timing-function: ease;
}

.body-active {
  width: 99vw;
}

h1 {
  display: flex;
  font: 100% $font-stack;
  // text-align: center;
  // justify-content: center;
  font-size: 90px;
  font-weight: thin;
  .fade {
    animation-name: example;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
  margin-bottom: 20px;
}

h2 {
  font: 20px 'Raleway-Medium', sans-serif;
}

.development:hover {
  .box {
    border-right: 3px solid skyblue;
  }
}

.graphic:hover {
  .box-prod {
    border-right: 3px solid violet;
  }
}

.video:hover {
  .box-vid {
    border-right: 3px solid tomato;
  }
}

.bio:hover {
  .box-bio {
    border-right: 3px solid yellow;
  }
}

.production {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  display: grid;
  background-color: #218D9B;
  height: 34px;
  width: 8px;
  z-index: -4;
  float:left;
  grid-template-columns: 200px auto 275px 250px;
  // grid-template-rows: auto;
  // margin-bottom: 3px;
  // float:left;
}

.box-prod {
  display: grid;
  background-color: purple;
  height: 34px;
  width: 8px;
  z-index: -3;
  grid-template-columns: 200px auto auto;
  // grid-template-rows: auto;
  // float:left;
}

.box-vid {
  display: grid;
  background-color: firebrick;
  height: 34px;
  width: 8px;
  z-index: -2;
  float:left;
  // float:left;
}

.box-bio {
  display: absolute;
  background-color: khaki;
  height: 34px;
  width: 8px;
  z-index: -1;
  float:left;
}

.graphics-content {
  display: none;
}

.graphics-content-img {
  display: none;
}

.graphics-column-two {
  grid-column: 1 / 1;
}

.graphics-column-two {
  grid-column: 2 / 2;
  min-width: 500px;
}

.graphics-column-three {
  display: grid;
  grid-column: 3 / 3;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 10px;
  grid-row-gap: 10px;
  padding-left: 25px;
  padding-right: 25px;
  max-height: 400px;
  min-width: 0;
}

// .position1,
.position2,
.position3,
.position4,
.position5,
.position6,
.position7,
.position8,
.position9 {
  width: 120px;
  height: 120px;
}

.position9 {
  margin-bottom: 8px;
}

.position1 {
  grid-column: 1 / 4;
  max-width: 380px;
}

.position2 {
  grid-column: 2 / 2;
}

.position3 {
  grid-column: 3 / 3;
}

.position10 {
  grid-column: 1 / 4;
  width: 380px;
}


.biog,
.dev,
.vid,
.prod {
  position: absolute;
  align-self: center;
  margin-top: 5px;
  margin-left: 18px;
  transition: color 1.5s ease;
}

.development,
.graphic,
.video {
  margin-bottom: 5px;
}

.video {
  z-index: 1;
}

.bio-active,
.vid-active,
.prod-active,
.dev-active {
  // position: absolute;
  color: white;
  align-self: flex-start;
  font-weight: 800;
}

.bio-active:hover,
.vid-active:hover,
.prod-active:hover,
.dev-active:hover {
  text-shadow: 0 0 1px white;
}

.menubtn {
  z-index: 1;
}

.transform-bio,
.transform-vid,
.transform-prod,
.transform {
  -webkit-transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  -moz-transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  -o-transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  -ms-transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  transition: height 1.5s, width 1.5s, background-color 1.5s, border-bottom 1.5s;
  transition-timing-function: ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 600px;
  width: 98vw;
  border-bottom: 2px solid white;
}

.transform-active-prod {
  background-color: violet;
  height: 565px;
  width: 98vw;
  border-bottom: 2px solid white;
}

.transform-active-vid {
  background-color: tomato;
  height: 600px;
  width: 98vw;
  border-bottom: 2px solid white;
}

.transform-active-bio {
  background-color: gold;
  height: 200px;
  width: 98vw;
}

ul {
  font-family: 'Raleway-bold';
  color: white;
  h4 {
    margin-bottom: .2em;
    margin-top: .8em;
  }
  li {
    font-family: 'Raleway';
    color: white;
    display: block;
    margin-left: 1em;
  }
}

.box-item {

  font-family: 'Raleway';
  color: white;
  padding-top: 0;
  margin-top: 20px;
}

.development {
  z-index: 0;
}
.graphic {
  z-index: 1;
}

.proficiencies-lag1,
.proficiencies-lag2,
.proficiencies {
  display: none;
  z-index: 0;
  grid-column: 4 / 4;
  h2 {
    margin-top: 5px;;
  }
}


.proficiencies2 {
  grid-column: 3 / 3;
}


.prof-box {
  width: auto;
  height: 15px;
  background-color: aquamarine;
  margin-top: -8px;
}

.prof-box2 {
  background-color: lightgreen;
}

.prof-box3 {
  background-color: white;
}

.prof-box4 {
  background-color: purple;
  grid-column: 1 / 4;
}
.thumbnail1 {
  width: 200px;
  border: 5px solid darkblue;
}

a {
  color: white;
  opacity: .5;
}


a:hover {
  opacity: .8;
  // text-shadow: 0 0 3px lightblue;
}

.prof-specific {
  li {
    opacity: .8;
  }
}

.grey {
  color: lightblue;
}

.dev-background {
  grid-column: 2 / 2;
  h1 {
    margin-top: 0;
    // font-family: arial;
    font-weight: 800;
    line-height: 1.1;
    font-size: 60px;
    margin-top: 20px;
  }
  h2 {
    margin-left: 30px;
    max-width: 520px;
    min-width: 300px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 3px solid white;
  }
  h3 {
    margin-top: 0;
    margin-left: 60px;
    max-width: 530px;
    font-weight: 500;
    opacity: .9;
  }
  h4 {
    margin-top: 0;
    font-size: 16px;
    margin-left: 60px;
    max-width: 630px;
    font-weight: 400;
  }
}

.dev-menu {
  grid-column: 1 / 1;
  ul {
    margin-top: 20px;
    margin-left: 0;
    padding-left: 20px;;
    li{
      font-size: 16px;
      font-family: 'Quicksand';
      margin-left: 0;
      padding-left: 0;
      margin-bottom: 8px;;
      padding: 0;
      opacity: .5;
    }
    li:hover {
      opacity: .8;
    }
  }
}

.purple {
  color: violet;
}

.tomato {
  color: tomato;
}

.logo {
  h1 {
    margin-top: 0;
  }
}


.graphics-links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  div {
    // margin: 5px;
    border: 3px solid white;
    p {
      font-weight: bold;
      font-size: 24px;
      margin: 8px;
    }
  }
}

.design-bio-left {
  margin-right: 10px;
}

.design-bio-right:hover,
.design-bio-left:hover {
  border: 3px solid rgba(154, 18, 179, 1);
  color: rgba(154, 18, 179, 1);
}

.sub-headers {
  font-weight: bold;
  // font-size: 25px;
  // padding-top: 10px;
}

.sub-headers-projects {
  color: lightgreen;
}

.sub-headers-proficiencies {
  color: aquamarine;
}


// @media screen and (max-width: 1024px) {
//
// }
//

@media screen and (max-width:1346px) {
  .dev-background {
    h1 {
      font-size: 55px;
    }
    h2 {
      margin-left: 30px;
      max-width: 520px;
      min-width: 300px;
      font-weight: 700;
      margin-bottom: 5px;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 3px solid white;
    }
    h3 {
      margin-top: 0;
      margin-left: 60px;
      max-width: 530px;
      font-weight: 500;
      opacity: .9;
    }
    h4 {
      margin-top: 0;
      font-size: 16px;
      margin-left: 60px;
      max-width: 630px;
      font-weight: 400;
    }
  }
}

//
@media screen and (max-width: 1295px) {
  .dev-background {
    h1 {
      font-size: 50px;
    }
  }
}
@media screen and (max-width: 1244px) {
  .dev-background {
    // line-height: 1.5em;
    h1 {
      font-size: 45px;
    }
    h2 {
      margin-left: 0;
      font-weight: 700;
      font-size: 18px;
      padding-bottom: 15px;
    }
    h3 {
      margin-left: 0;
      font-size: 16px;
      opacity: 1;
    }
  }
}
@media screen and (max-width: 1042px) {
  .box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 1fr;
    .dev-background {
      position: absolute;
      width: 45vw;
      grid-column: 1 / 3;
      padding-left: 50px;
      // line-height: 1.5em;
      h1 {
        font-size: 40px;
      }
      h2 {
        margin-left: 0;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 15px;
      }
      h3 {
        margin-left: 0;
        font-size: 16px;
        opacity: 1;
      }
    }
    .dev-menu {
      display: none;
      ul {
        display: none;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: 150px;
    }
    .prof-box-devlast {
      width: 160px;
    }
  }
  .readme {
    display: none;
  }
  a {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2.5fr;
    grid-template-rows: 355px auto;
    .proficiencies2 {
      // display: flex;
      // flex-direction: row;
      margin-left: 10px;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      h2 {
        margin-bottom: 0;
      }
    }
    .prof-specific {
      grid-row: 1 / 3;
    }
    .project-list-items {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5px;
      li {
        margin-left: 0;
      }
    }
    .dev-background {
      position: absolute;
      width: 65vw;
      grid-column: 1 / 4;
      padding-left: 50px;
      // line-height: 1.5em;
      h1 {
        font-size: 40px;
      }
      h2 {
        margin-left: 0;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 15px;
      }
      h3 {
        margin-left: 0;
        font-size: 16px;
        opacity: 1;
      }
    }
    .dev-menu {
      display: none;
      ul {
        display: none;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: 150px;
    }
    .prof-box-devlast {
      // width: 150px;
      background-color: lightgreen;
    }


    .prof-box2 {
      background-color: aquamarine;
    }
  }
  .readme {
    display: none;
  }
  a {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  .sub-headers {
    font-weight: bold;
    // font-size: 25px;
    padding-top: 10px;
  }

  .sub-headers-projects {
    color: aquamarine;
  }

  .sub-headers-proficiencies {
    color: lightgreen;
  }

  .transform-active {
    height: 650px;
  }
}

@media screen and (max-width: 715px) {
  .box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2.5fr;
    grid-template-rows: 370px 250px auto;
    .proficiencies2 {
      // display: flex;
      // flex-direction: row;
      margin-left: 10px;
      grid-column: 1 / 5;
      grid-row: 2 / 3;
      h2 {
        margin-bottom: 0;
      }
    }
    .prof-specific {
      margin-left: 10px;
      grid-column: 1 / 5;
      grid-row: 3 / 4;
    }
    .project-list-items {
      display: grid;
      max-width: 80vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 5px;
      li {
        margin-left: 0;
      }
    }
    .proficiencies-list-items {
      display: grid;
      max-width: 80vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 5px;
      li {
        display: list-item;
        // margin-bottom: 10px;
        // margin-left: 0;
        font-size: 15px;
      }
    }
    .dev-background {
      position: absolute;
      width: 83vw;
      grid-column: 1 / 5;
      padding-left: 50px;
      // line-height: 1.5em;
      h1 {
        font-size: 40px;
      }
      h2 {
        margin-left: 0;
        max-width: 79vw;
        padding-right: 0;
        font-weight: 700;
        font-size: 18px;
        padding-bottom: 15px;
        width: auto;
        margin-right: 33px;
      }
      h3 {
        margin-left: 0;
        max-width: 75vw;
        font-size: 16px;
        opacity: 1;
      }
    }
    .dev-menu {
      display: none;
      ul {
        display: none;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: 150px;
    }

    .prof-box-devlast,
    .prof-box2 {
      width: 70vw;
      margin-right: 50px;
    }

    .sub-headers-proficiencies{
      margin-bottom: 0;
      color: lightgreen;
    }
    .prof-box-devlast {
      background-color: lightgreen;
    }

    .sub-headers-projects{
      color: aquamarine;
    }
    .prof-box2 {
      background-color: aquamarine;
    }
  }
  .readme {
    display: none;
  }
  a {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  .sub-headers {
    font-weight: bold;
    // font-size: 25px;
    padding-top: 10px;
  }

  // .sub-headers-projects {
  //   color: aquamarine;
  // }
  //
  // .sub-headers-proficiencies {
  //   margin-bottom: 0;
  //   color: lightgreen;
  // }

  .transform-active {
    width: 94vw;
    height: 900px;
  }
}

@media screen and (max-width: 590px) {
  html {
    max-width: 100vw;
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    // color: white;
  }
  .logo {
    h1 {
      font-size: 40px;
    }
  }
  .box {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2.5fr;
    grid-template-rows: 420px 250px auto;
    .proficiencies2 {
      // display: flex;
      // flex-direction: row;
      margin-left: 0;
      padding-left: 15px;
      grid-column: 1 / 5;
      grid-row: 2 / 3;
      h2 {
        margin-bottom: 0;
      }
    }
    .prof-specific {
      margin-left: 10px;
      grid-column: 1 / 5;
      grid-row: 3 / 4;
    }
    .project-list-items {
      display: grid;
      max-width: 80vw;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 5px;
      li {
        margin-left: 0;
      }
    }
    .proficiencies-list-items {
      display: grid;
      max-width: 80vw;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 5px;
      li {
        display: list-item;
        // margin-bottom: 10px;
        // margin-left: 0;
        font-size: 15px;
      }
    }
    .dev-background {
      position: absolute;
      // padding-right: 5px;
      width: 95vw;
      min-width: 0;
      grid-column: 1 / 5;
      padding-left: 15px;
      // line-height: 1.5em;
      h1 {
        font-size: 20px;
      }
      h2 {
        margin-left: 0;
        max-width: 95vw;
        min-width: 0;
        padding-right: 0;
        font-weight: 200;
        font-size: 15px;
        padding-bottom: 15px;
        width: auto;
        margin-right: 18px;
      }
      h3 {
        margin-left: 0;
        margin-right: 0;
        max-width: 100vw;
        // width: 95vw;
        min-width: 0;
        font-size: 13px;
        opacity: 1;
      }
    }
    .dev-menu {
      display: none;
      ul {
        display: none;
      }
    }
    .prof-box3 {
      // display: none;
      margin-left: -15px;
      width: 100vw;
      height: 33px;
      opacity: .3;
      margin-top: -20px;
    }

    .prof-box-devlast,
    .prof-box2 {
      width: auto;
      margin-right: 10px;
    }

    .sub-headers-proficiencies{
      margin-bottom: 0;
      color: lightgreen;
    }
    .prof-box-devlast {
      background-color: lightgreen;
    }

    .sub-headers-projects{
      color: aquamarine;
    }
    .prof-box2 {
      background-color: aquamarine;
    }
  }
  .readme {
    display: none;
  }
  a {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  li {
    font-size: 15px;
  }
  a {
    font-size: 13px;
  }
  .sub-headers {
    font-weight: bold;
    // font-size: 25px;
    padding-top: 10px;
  }


  .transform-active {
    width: 99vw;
    height: 1200px;
  }

  .biog,
  .dev,
  .vid,
  .prod {
    position: absolute;
    align-self: center;
    margin-top: 5px;
    margin-left: 18px;
    transition: color 0s ease;
  }

  .transform-bio,
  .transform-vid,
  .transform-prod,
  .transform {
    -webkit-transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    -moz-transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    -o-transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    -ms-transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    transition: height 0s, width 0s, background-color 0s, border-bottom 0s;
    transition-timing-function: ease;
  }

  .menubtn {
    color: white;
  }

  .dev {
    left: 50%;
    margin-left: -78.39px;
  }


  .prod {
    left: 50%;
    margin-left: -73.36px;
  }

  .biog {
    left: 50%;
    margin-left: -41.69px;
  }

  .vid {
    left: 50%;
    margin-left: -46.73px;
  }

  .development {
    background-color: lightblue;
  }

  .graphic {
    background-color: violet;
  }

  .video {
    background-color: tomato;
  }

  .bio {
    background-color: gold;
  }

  .toggle-phone-view {
    display: block;
  }

  .logo {
    display: flex;
    justify-content: center;
    width: 100vw;
  }

  .body-trans {
    margin: 0;
    max-width: 100vw;
    -webkit-transition: width 1.5s;
    -moz-transition: width 1.5s;
    -o-transition: width 1.5s;
    -ms-transition: width 1.5s;
    transition: width 1.5s;
    transition-timing-function: ease;
  }



}
