@import "animate.scss";

// * {
//   border: 1px solid red;
// }

$font-stack: 'Raleway-Thin', sans-serif;
$primary-font-color: #535353;
// @import url('https://fonts.googleapis.com/css?family=Quicksand');

// * {
//   border: 1px solid blue;
// }

body {
  display: grid;
  color: $primary-font-color;
  // background-color: grey;
  // margin: 0 auto;
  // max-width: 1024px;
  // border-left: solid 7px #535353;
  // border-right: solid 7px #535353;
}

h1 {
  display: flex;
  font: 100% $font-stack;
  // text-align: center;
  // justify-content: center;
  font-size: 90px;
  font-weight: thin;
  .fade {
    animation-name: example;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

h2 {
  font: 20px 'Raleway-Medium', sans-serif;
}

.development:hover {
  .box {
    border-right: 2px solid skyblue;
  }
}
.graphic:hover {
  .box-prod {
    border-right: 2px solid violet;
  }
}

.video:hover {
  .box-vid {
    border-right: 2px solid tomato;
  }
}

.production {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box {
  display: absolute;
  background-color: #218D9B;
  height: 25px;
  width: 5px;
  z-index: -4;
  float:left;
  display: grid;
  grid-template-columns: auto 250px;
  grid-template-rows: auto;
  // margin-bottom: 3px;
  // float:left;
}

.box-prod {
  display: absolute;
  background-color: purple;
  height: 25px;
  width: 5px;
  z-index: 3;
  float:left;
  // float:left;
}

.box-vid {
  display: absolute;
  background-color: firebrick;
  height: 25px;
  width: 5px;
  z-index: -1;
  float:left;
  // float:left;
}

.dev,
.vid,
.prod {
  position: absolute;
  align-self: flex-start;
  margin-top: 3px;
  margin-left: 10px;
  transition: color 1.5s ease;
}

.development,
.graphic,
.video {
  margin-bottom: 5px;
}

.vid-active,
.prod-active,
.dev-active {
  position: absolute;
  color: white;
  align-self: flex-start;
}

.menubtn {
  z-index: 1;
}

.transform-vid,
.transform-prod,
.transform {
  -webkit-transition: height 2s, width 2s, background-color 2s, border-bottom 2s;
  -moz-transition: height 2s, width 2s, background-color 2s, border-bottom 2s;
  -o-transition: height 2s, width 2s, background-color 2s, border-bottom 2s;
  -ms-transition: height 2s, width 2s, background-color 2s, border-bottom 2s;
  transition: height 2s, width 2s, background-color 2s, border-bottom 2s;
  transition-timing-function: ease;
}

.transform-active {
  background-color: #45CEE0;
  height: 600px;
  width: 98vw;
  border-bottom: 2px solid white;
}

.transform-active-prod {
  background-color: violet;
  height: 200px;
  width: 98vw;
  border-bottom: 2px solid white;
}

.transform-active-vid {
  background-color: tomato;
  height: 200px;
  width: 98vw;
}

ul {
  font-family: 'Raleway-bold';
  color: white;
  h4 {
    margin-bottom: .2em;
    margin-top: .8em;
  }
  li {
    font-family: 'Raleway';
    color: white;
    display: block;
    margin-left: 1em;
  }
}

.box-item {
  font-family: 'Raleway';
  color: white;
  padding-top: 0;
  margin-top: 20px;
}

.development {
  z-index: 0;
}
.graphic {
  z-index: 1;
}

.proficiencies {
  display: none;
  z-index: 0;
  grid-column-start: 2;
  h2 {
    margin-top: 5px;;
  }
}

.prof-box {
  width: auto;
  height: 15px;
  background-color: aquamarine;
  margin-top: -8px;
}




// @media screen and (max-width: 1024px) {
//
// }
//
// @media screen and (max-width: 900px) {
//
// }
//
// @media screen and (max-width: 500px) {
//
// }
